*{
        box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
/* style contenuto pagina */
main{
    padding: 0;
}
/* style header */
header {
    background-image: url("../img/pattern.png");
    background-size: 40%;
    background-color: #4ea0ff;
    padding-top: 80px ;
}

#logo img{
    height: 70px;
}

/* style titolo articolo e carosello immagini */
h1{
    margin-bottom: 0;
    font-size: 3em;
}

.text-gray{
    color:gray;
    margin: 0;
}

figcaption {
    margin: 0;
    font-weight: 100;
}

/* style tabella */
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    text-align: left;
}

.description{
    width: 50%;
}

thead{
    background-color: #1fa9e5;
    color: white;
}

.row-odd{
    background-color: #b2e4f2 ;
}

/* style aside */
#box1{
    background-image: url(../img/monitor.jpg);
}
#box2{
    background-image: url(../img/graph.jpg);
   
}
.image-description{
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}

.image-description h3{
    color: white;
    padding: 5px;
}